/* start header */

header {
    height: 750px;
    width: 100%;
    background: url("../images/banner.jpg") no-repeat;
    background-size: 100% 750px;
    padding-top: 24px;
}

.header {
    padding-top: 24px;
    /* padding-bottom: 30px; */
}

.header .menu .nav .nav_list .nav_item .link_item {
    color: black;
}

.menu {
    margin: 0px auto;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-right: 62px;
}

.logo img {
}

.nav {
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_item {
    margin: 0px 34px;
    list-style-type: none;
}

.link_item {
    text-decoration: none;
    color: #ffffff;
    font-family: "Sintony", sans-serif;
}

.link_item a {
}

.your_book {
    background-color: #fea100;
    border-radius: 6px;
    border: 1px solid #fea100;
}

.your_book p {
    width: 190px;
    height: 42px;
    color: #ffffff;
    line-height: 42px;
}

.banner {
    margin-top: 270px;
    text-align: center;
    color: #ffffff;
}

.banner .title {
    font-size: 62px;
}

.banner .desc {
    font-size: 42px;
}

.icon_phone {
    margin-top: 80px;
}

.desc_icon_phone {
    font-size: 14px;
    color: #fea100;
    margin-top: 20px;
}

.phone_number {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 200px;
}


/* start contener */

.food {
    margin: 34px auto;
    display: flex;
}

.food_menu {
    width: 50%;
    padding-right: 24px;
}

.title_menu {
}

.food_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0px;
    border-bottom: 1px solid #eeeeee;
}

.content_item {
    /* border-bottom: 1px solid #eeeeee; */
}

.content_item .title {
    font-size: 16px;
    font-weight: bold;
    line-height: 34px;
}

.content_item .desc {
    font-size: 14px;
    color: #5c6369;
}

.food_item .price {
    font-size: 26px;
    font-weight: bold;
    padding-right: 54px;
}

.btn_exflor_menu {
    width: 200px;
    height: 50px;
    background-color: #fea100;
    border: 1px solid #fea100;
    border-radius: 6px;
    margin: 18px 0px 84px;
    color: #fff;
}

.no_border_bottom {
    border-bottom-width: 0px;
}

.food_special {
    padding-left: 40px;
}

.food_special .title {
}

.special_item {
    margin-top: 30px;
    position: relative;
}

.special {
    width: 320px;
}

.special .special_img_320_210 {
    width: 320px;
    height: 210px;
}

.special .special_img_320_172 {
    width: 320px;
    height: 172px;
}

.special .content {
    font-size: 22px;
    line-height: 44px;
    background: #edefeb;
    margin-top: -4px;
}

.special .content .name {
    padding-top: 30px;
    font-weight: bold;
    padding-left: 40px;
}

.special .content .price {
    color: #fea100;
    font-weight: bold;
    padding-left: 40px;
}

.special_1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.special_2 {
    position: absolute;
    top: 20px;
    left: 100%;
    z-index: 1;
}

.reserve_table {
    background: url(../images/img_reserve_table.jpg) no-repeat;
    background-size: 100%;
    text-align: center;
}

.reserve {
    width: 70%;
    margin: 0px auto;
    position: relative;
}

. title {
}

.table_title {
    padding-top: 100px;
    color: #fff;
}

.form {
    margin: 0px auto;
    position: relative;
}

.input_info {
    display: flex;
    padding: 0px 5px;
    margin-bottom: 10px;
}

.custom_input {
    width: 50%;
    margin: 0px 10px;
    padding: 20px;
}

.form_width {
    width: 80%;
    margin: 0px auto;
    position: relative;
}

.reserve_info {
    margin: 0px auto;
    margin-top: 30px;
    padding-bottom: 100px;
    color: #fff;
}

.reserve_info_relate {
    margin: 0px auto;
    width: 78%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.btn_reservation {
    margin: 0px;
}

.group_infor {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.infor {
    line-height: 17px;
    font-size: 13px;
}

.title1 {
}

.title2 {
    color: #dc5084;
}

.hostline {
    padding-left: 15px;
    font-size: 22px;
}

.img_reserve_1 {
    position: absolute;
    top: -204px;
    left: -333px;
}

.img_reserve_2 {
    position: absolute;
    right: -279px;
    bottom: -210px;
}

.img_293_293 {
    width: 293px;
    height: 293px;
}

.img_241_234 {
    width: 241px;
    height: 234px;
}

.feelback {
    /* text-align: center; */
    padding-bottom: 100px;
}

.title_feelback {
    margin-top: 100px;
    /* margin-bottom: 34px; */
    text-align: center;
    padding-bottom: 34px;
}

.feelback_clients {
    margin: 0px auto;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img_clients {
    width: 25%;
}

.img_feelback_269295 {
}

.content_feelback {
    height: 75%;
    margin-left: 30px;
    padding-right: 120px;
}

.title_bord {
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 20px;
}

.title_bord span {
    font-size: 24px;
}

.content_feelback .desc {
    font-size: 15px;
    color: #363d43;
    line-height: 30px;
    padding-left: 30px;
    /* margin-bottom: 50px; */
}

.close_quotes {
    float: right;
    font-size: 24px;
    margin-bottom: 5px;
}

.author {
    clear: both;
    padding-top: 20px;
    border-top: 1px solid #5c6369;
    width: 260px;
    padding-left: 30px;
    font-size: 15;
    font-size: 15px;
    font-weight: bold;
}

.gallery {
    background-color: #edf1f3;
    padding-bottom: 150px;
}

.title_gallery {
    padding-top: 100px;
    padding-bottom: 40px;
    text-align: center;
}

.list_gallery {
    margin-top: -14px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_galery_471_340 {
    width: 471px;
    height: 340px;
}

.open_hours {
    margin: 0px auto;
}

.info_open_hours {
    height: 222px;
    display: flex;
    margin: 0px auto;
    align-items: center;
}

.info_open_hours .title {
    width: 40%;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.info_open_hours .time {
    /* width: 60%; */
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.time_info {
    margin-right: 30px;
}

.time_info .day {
    font-style: italic;
    font-size: 16px;
}

.time_info .desc {
    font-size: 20px;
    color: #fea100;
    color: #fea100;
    font-weight: bold;
}

.time_open_img_210_210 {
    width: 210px;
    height: 210px;
    position: absolute;
}

.img_position_home {
    bottom: -160px;
    right: -266px;
}

footer {
    background-color: #373844;
}

.footer {
    margin: 0 auto;
    padding-top: 100px;
}

.footer .content {
    display: flex;
    justify-content: spa;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 80px;
}

.navigation {
    width: 25%;
}

.navigation .title {
    padding-bottom: 40px;
    color: #fff;
}

.navigation .nav_list {
    display: block;
}

.navigation .nav_list .nav_item {
    /* color: #6e717a; */
}

.navigation .nav_list .nav_item a {
    color: #6e717a;
    text-decoration: none;
    font-size: 13px;
    line-height: 30px;
}

.new_letter {
    width: 50%;
}

.new_letter .title {
    color: #fff;
    /* clear: both; */
}

.new_letter .desc {
    font-size: 14px;
    color: #6e717a;
    margin-bottom: 20px;
}

.foot_form {
}

.footer_input_email {
    width: 60%;
    margin: 0px;
}

.footer_input_submit {
    width: 30%;
    color: #fea100;
    background-color: #fea100;
    color: #fff;
}

.link_brower {
    margin-top: 36px;
}

.link_brower a {
    font-size: 40px;
    width: 40px;
    padding: 10px 10px;
    border-radius: 30px;
    color: #fff;
}

.link_brower .link_face {
    background-color: #3b5998;
    /* border-radius: 29px 43px; */
    padding: 10px 18px;
}

.link_brower .link_twitter {
    background-color: #55acee;
    padding: 10px 10px;
}

.link_brower .link_google {
    background-color: #dd4b39;
    padding: 10px 18px;
}

.app {
    width: 25%;
}

.app .title {
    color: #fff;
    padding-bottom: 30px;
}

.link_app {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #52535e;
    margin-top: -17px;
    margin-bottom: 30px;
    width: 80%;
    border: 1px solid #52535e;
}

.app_apper {
    color: #fff;
    padding: 20px;
    font-size: 42px;
}

.link_app .content {
    display: block;
    padding: 0;
    color: #dde0e3;
}

.link_app .content .app_desc {
    font-size: 11px;
}

.link_app .content .app_name {
    font-size: 18px;
    font-weight: bold;
}

.banner_top {
    height: 250px;
    background: url("../images/banner.jpg");
    background-size: 100%;
    font-size: 56px;
    color: #fff;
    text-align: center;
    line-height: 250px;
    font-weight: bold;
}

.menu_top {
    margin-bottom: 30px;
}

.history {
    margin: 0px auto;
    margin-top: 100px;
}

.title_history {
    text-align: center;
}

.history .content {
    width: 55%;
    text-align: center;
    margin: 0px auto;
    color: #878d91;
    margin-bottom: 40px;
}

.video {
    width: 969px;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 100px;
    width: 96;
}

.video iframe {
    /* text-align: center; */
    /* margin: 0px auto; */
}

.video .desc {
    text-align: start;
    padding: 20px 0px;
    border-bottom: 1px solid #e3e3e3;
}

.cook {
    background-color: #e2e6e8;
    margin-top: -4px;
    padding-bottom: 100px;
}

.title_cook {
}

.cook_content {
    margin: 0px auto;
    padding-top: 100px;
}

.group_cook {
    /* width: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0px 15px; */
}

.info_book {
    width: 270px;
    margin: 0px 15px;
}

.info_book .name {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    margin-top: -4px;
}

.cook_img_270_263 {
    width: 270px;
    height: 263px;
}

.about_special {
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    margin: 0px auto;
}

.about_special .image {
    /* width: 50%; */
}

.special_img_930_572 {
    width: 930px;
    height: 572px;
}

.about_special .content {
    display: block;
    padding-left: 60px;
    padding-right: 20%;
    line-height: 1;
}

.about_special .content .title {
    text-align: start;
    margin-top: 100px;
    margin-bottom: 36px;
}

.policy {
    margin-bottom: 40px;
}

.policy .name {
    font-size: 15px;
    font-weight: bold;
    line-height: 34px;
}

.policy .desc {
    font-size: 14px;
    color: #5c6369;
    line-height: 26px;
}

.img_position_about {
    right: -266px;
    top: -130px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}