<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>About Us</title>
    <link href="../assets/css/common1.css" rel="stylesheet"/>
    <link href="../assets/css/style1.css" rel="stylesheet"/>
</head>

<body>
<div class="img_header">
    <div class="img_content">
        <h2>About Us</h2>
    </div>
</div>
<div class="history">
    <h2 class="title">Our History</h2>
    <p class="content_history">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint rerum dolore soluta hic nisi non quasi eveniet,
        minus magnam adipisci minus magnam adipisci veritatis inventore praesentium provident! In, porro ipsum sed
        laborum maxime eos totam harum ipsam
        minus inventorehgjghggjhgjg repudiandae aperiam praesentium a aliquid commodi non qui vel alias, nulla sapiente
        cumque quae.repudiandae aperiam praesentium a aliquid commodi non qui vel alias, nulla sapiente cumque quae
    </p>

    <video class="video_zise" controls>
        <source src="/media/cc0-videos/flower.web" type="video/webm"/>

        <source src="/media/cc0-videos/flower.mp4" type="video/mp4"/>

        Sorry, your browser doesn't support embedded videos.
    </video>
    <p class="desc">OUR HOTEL VIDEO</p>
</div>

<div class="cooks">

    <h2 class="title">Our Cooks</h2>
    <div class="img_cooks">
        <div class="img_item">
            <img alt="" class="img_270_263" src="">
            <div class="desc"> CHEFF. JOHN ATHOMAS</div>
        </div>
        <div class="img_item">
            <img alt="" class="img_270_263" src="">
            <div class="desc"> CHEFF. JOHN ATHOMAS</div>
        </div>
        <div class="img_item">
            <img alt="" class="img_270_263" src="">
            <div class="desc"> CHEFF. JOHN ATHOMAS</div>
        </div>
        <div class="img_item">
            <img alt="" class="img_270_263" src="">
            <div class="desc"> CHEFF. JOHN ATHOMAS</div>
        </div>

    </div>
</div>
<div class="speciality">
    <img alt="" class="img_930_572" src="">
    <div class="speciality_content">
        <h2 class="title">
            Speciality
        </h2>
        <div class="content_child">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus voluptate consequatur cupiditate
                velit </p>
        </div>
        <div class="content_child">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus voluptate consequatur cupiditate
                velit </p>
        </div>
        <div class="content_child">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus voluptate consequatur
                reprehenderit modi pariatur suscipit.</p>
        </div>
        <img alt="" class="img_210_210" src="">
    </div>
</div>
<div class="open_hourse">
    <h3>Opening Hours</h3>
    <div class="schedule">
        <div class="time_open">
            <i class="time">Monday to Friday</i>
            <p class="hours"> 10am-11pm</p>
        </div>
        <div class="time_open">
            <i class="time">Monday to Friday</i><br>
            <span class="hours"> 10am-10pm</span>
        </div>
    </div>


</div>
</body>

</html>