<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Blog Detail</title>
    <link href="../assets/css/common1.css" rel="stylesheet"/>
    <link href="../assets/css/style1.css" rel="stylesheet"/>
    <link href="../assets/fonts/css/all.css" rel="stylesheet"/>
</head>

<body>
<div class="header"></div>
<div class="img_header">
    <div class="img_content">
        <h2>About Us</h2>
    </div>
</div>

<div class="blog_content">
    <div class="blog_content_left">
        <img alt="" class="blog_img_845_400" src=""/>
        <div class="title_header">
            <div class="time">08<span>NOV-06</span></div>
            <div class="content">
                <h2 class="title">Lorem ipsum dolor sit.</h2>
                <p class="desc_title">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt deserunt impedit et alias, veniam
                    deleniti exercitationem beatae suscipit, earum magnam ratione, aut molestias modi reiciendis
                    blanditiis pariatur dignissimos harum a?
                </p>
                <div class="desc_bold">
                    <p>
                        <span>&#10077;</span> &nbsp; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni eum
                        commodi aut ipsa, alias cumque eius deleniti consequuntur nam aliquamalias cumque eius deleniti
                        consequuntur nam aliquam.
                    </p>
                    <p class="span_bold_2">&#10078;</p>
                </div>
            </div>
        </div>
        <div class="img_blog_412_270">
            <img alt="" class="img_412_270" src=""/>
            <img alt="" class="img_412_270" src=""/>
        </div>
        <div class="desc_footer">
            <b>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A,
                perspiciatis!</b
            >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
            fugiat laudantium, officiis ullam animi eligendi ut, itaque labore
            nobis eos quos eaque, quod necessitatibus voluptatibus tenetur! Totam
            consequatur sed ducimus?
        </div>
        <div class="node_choose">
            <div class="btn">
                <button class="btn_choose_page next">
                    <i class="fas fa-angle-left"></i>
                    NEXT
                </button>
                <button class="btn_choose_page prev">PREV
                    <i class="fas fa-angle-right"></i></button>
            </div>
            <div class="heart">
                <i class="far fa-heart"></i>
                <div class="total_heart">65</div>
            </div>
            <div class="line"></div>
            <div class="link">
                <a class="share" href="#"><i class="fas fa-share-alt"></i></a>
                <a class="fb" href="#"><i class="fab fa-facebook"></i></a>
                <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                <a class="google" href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>

        </div>
    </div>
    <div class="blog_content_right">
        <div class="category">
            <h2 class="title">Category</h2>
            <div class="item_cate">
                <i class="fas fa-chevron-circle-right"></i>
                <span class="name">Lorem, ipsum</span>
            </div>
            <div class="item_cate">
                <i class="fas fa-chevron-circle-right"></i>
                <span class="name">Lorem, ipsum</span>
            </div>
            <div class="item_cate">
                <i class="fas fa-chevron-circle-right"></i>
                <span class="name">Lorem, ipsum</span>
            </div>
            <div class="item_cate">
                <i class="fas fa-chevron-circle-right"></i>
                <span class="name">Lorem, ipsum</span>
            </div>
            <div class="item_cate">
                <i class="fas fa-chevron-circle-right"></i>
                <span class="name">Lorem, ipsum</span>
            </div>

        </div>
        <div class="recent_post">
            <h2 class="title">Recent Post</h2>
            <div class="item_post">
                <div class="img_post">
                    <img alt="" class="img_post_70_70" src="">
                </div>

                <div class="content_post">
                    <p class="time_post">08-NOV-2016</p>
                    <p class="desc_post"><b>Lorem ipsum dolor, sit amet </b></p>
                </div>
            </div>
            <div class="item_post">
                <div class="img_post">
                    <img alt="" class="img_post_70_70" src="">
                </div>

                <div class="content_post">
                    <p class="time_post">08-NOV-2016</p>
                    <p class="desc_post"><b>Lorem ipsum dolor, sit amet </b></p>
                </div>
            </div>
            <div class="item_post">
                <div class="img_post">
                    <img alt="" class="img_post_70_70" src="">
                </div>

                <div class="content_post">
                    <p class="time_post">08-NOV-2016</p>
                    <p class="desc_post"><b>Lorem ipsum dolor, sit amet </b></p>
                </div>
            </div>
        </div>

        <div class="archive">
            <h2 class="title">Archive</h2>
            <div class="archive_month">
                <p class="month">JANUARY</p>
                <p class="number">(15)</p>
            </div>
        </div>
    </div>
</div>
<script src="../assets/fonts/js/all.js"></script>
</body>

</html>