<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>About Us</title>
    <link href="../assets/css/common.css" rel=" stylesheet "/>
    <link href="../assets/css/style.css" rel="stylesheet "/>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap " rel="stylesheet "/>
    <link href="https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap" rel="stylesheet">
    <link href="../assets/fontawesome/css/all.min.css" rel="stylesheet ">
</head>

<body>
<div class="header">
    <div class="menu holder menu_top">
        <div class="logo ">
            <img alt=" " src="../assets/images/logo2.png "/>
        </div>
        <div class="nav ">
            <ul class="nav_list ">
                <li class="nav_item ">
                    <a class="link_item " href="# ">HOME</a>
                </li>
                <li class="nav_item ">
                    <a class="link_item " href="# ">MENU</a>
                </li>
                <li class="nav_item ">
                    <a class="link_item " href="# ">RESERVATION</a>
                </li>
                <li class="nav_item ">
                    <a class="link_item " href="# ">RECIPE</a>
                </li>
                <li class="nav_item ">
                    <a class="link_item " href="# ">BLOG</a>
                </li>
                <li class="nav_item ">
                    <a class="link_item " href="# ">PAGES</a>
                </li>
                <li class="nav_item ">
                    <a class="link_item " href="# ">CONTACT</a>
                </li>
                <li class="nav_item ">
                    <a class="link_item " href="# ">GIO HANG</a>
                </li>
            </ul>
        </div>
        <button class="your_book">
            <p>BOOK YOUR TABLE</p>
        </button>
    </div>
    <div class="banner_top">
        <img alt="" src="../assets/images/left_leaf.png"> ABOUT US <img alt="" src="../assets//images/right_leaf.png">

    </div>
</div>
<div class="history holder">
    <h3 class="title title_history">Our History</h3>
    <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illo odio incidunt in quas,
        sapiente commodi, iure animi quia rerum aspernatur facilis quae ratione! Eius sint consequatur, deleniti beatae
        soluta, ratione possimus repellat itaque
        quia libero atque molestiae. Ullam, voluptas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illo
        odio incidunt in quas, sapiente commodi, iure animi quia rerum aspernatur facilis quae ratione! Eius sint
        consequatur, deleniti
        beatae soluta, ratione possimus repellat itaque quia libero atque molestiae. Ullam, voluptas.</p>
</div>
<div class="video holder">
    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen frameborder="0" height="446" src="https://www.youtube.com/embed/B_egTP5ED1g"
            width="969"></iframe>
    <p class="desc">OUR VIDEO MuSIC</p>
</div>

<div class="cook">

    <div class="cook_content holder">
        <h3 class="title title_cook">
            Our Cook
        </h3>
        <div class="group_cook">
            <div class="info_book">
                <img alt="" class="cook_img_270_263" src="../assets/images/img_pho2.jpg">
                <div class="name">MR JOIN HAOLDO</div>
            </div>
            <div class="info_book">
                <img alt="" class="cook_img_270_263" src="../assets/images/img_pho2.jpg">
                <div class="name">MR JOIN HAOLDO</div>
            </div>
            <div class="info_book">
                <img alt="" class="cook_img_270_263" src="../assets/images/img_pho2.jpg">
                <div class="name">MR JOIN HAOLDO</div>
            </div>
            <div class="info_book">
                <img alt="" class="cook_img_270_263" src="../assets/images/img_pho2.jpg">
                <div class="name">MR JOIN HAOLDO</div>
            </div>
        </div>
    </div>
</div>

<div class="about_special">
    <div class="image">
        <img alt="" class="special_img_930_572" src="../assets/images/img_pho3.jpg">
    </div>
    <div class="content">
        <h3 class="title">Speciality</h3>
        <div class="policy">
            <p class="name">Lorem ipsum dolor sit.</p>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, animi. Tenetur sed quia
                doloribus eius dolorem, </p>
        </div>
        <div class="policy">
            <p class="name">Lorem ipsum dolor sit.</p>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, animi. Tenetur sed quia
                doloribus eius dolorem,</p>
        </div>
        <div class="policy">
            <p class="name">Lorem ipsum dolor sit.</p>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, animi. Tenetur sed quia
                doloribus eius dolorem</p>
        </div>
    </div>
</div>
<div class="open_hours">
    <div class="info_open_hours holder">
        <div class="title">
            Opening Hours
        </div>
        <div class="time">
            <div class="time_info">
                <p class="day">Monday to Priday</p>
                <p class="desc">10am-10pm</p>
            </div>
            <div class="time_info">
                <p class="day">Monday to Priday</p>
                <p class="desc">10am-10pm</p>
            </div>

            <img alt="" class="time_open_img_210_210 img_position_about" src="../assets/images/img_pho4.jpeg">
        </div>

    </div>
</div>
<footer>
    <div class="footer holder">
        <div class="content">
            <div class="navigation">
                <h3 class="title">Navigation</h3>
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="#">Home</a>
                    </li>
                    <li class="nav_item">
                        <a href="#">About us</a>
                    </li>
                    <li class="nav_item">
                        <a href="#">Menu</a>
                    </li>
                    <li class="nav_item">
                        <a href="#">Reservation</a>
                    </li>
                    <li class="nav_item">
                        <a href="#">Repice</a>
                    </li>
                    <li class="nav_item">
                        <a href="#">Blog</a>
                    </li>
                    <li class="nav_item">
                        <a href="#">Contact us</a>
                    </li>
                </ul>
            </div>
            <div class="new_letter">
                <h3 class="title">New Letter</h3>
                <p class="desc">Lorem ipsum dolor sit amet consectetur.</p>
                <div class="foot_form">
                    <form action="">
                        <input class="custom_input footer_input_email" id="" name="" placeholder="Email Address"
                               type="text">
                        <input class="custom_input footer_input_submit" type="submit" value="SUCSCABLE">
                    </form>
                    <div class="link_brower">
                        <a class="link_face" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="link_twitter" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="link_google" href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </div>
            <div class="app">
                <h3 class="title">Your app avilible</h3>
                <button class="link_app">
                    <p class="app_apper">
                        <i class="fab fa-apple"></i>
                    </p>
                    <div class="content">
                        <p class="app_desc">Lorem, ipsum.</p>
                        <p class="app_name">App Store</p>
                    </div>
                </button>
                <button class="link_app">
                    <p class="app_apper">
                        <img alt="" src="../assets/images/icon_playpng.png">
                    </p>
                    <div class="content">
                        <p class="app_desc">Lorem, ipsum.</p>
                        <p class="app_name">Google play</p>
                    </div>
                </button>
            </div>
        </div>

        <div class="line"></div>
    </div>

</footer>
<script src="../assets/fontawesome/js/all.min.js"></script>
</body>

</html>